# Python artifacts
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments
venv/

# Local environment files
.env

# Databases and MLFlow artifacts
*.db
mlruns/

# But allow production model directory
!models/production/

# OS specific
.DS_Store


